<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dungeon_Teller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dungeon_Teller.Properties.Settings>
            <setting name="AntiAFK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BalloonTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LockWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PushKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MailNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BringToFront" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimesRun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HasContributed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WowVersion" serializeAs="String">
                <value>5.2.0.16769</value>
            </setting>
            <setting name="OffsetsLastUpdated" serializeAs="String">
                <value>1363093519</value>
            </setting>
            <setting name="Push" serializeAs="String">
                <value />
            </setting>
            <setting name="PushProider" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffSetXML" serializeAs="String">
                <value>offsets.xml</value>
            </setting>
            <setting name="UpdateXML" serializeAs="String">
                <value>update.xml</value>
            </setting>
        </Dungeon_Teller.Properties.Settings>
    </userSettings>
</configuration>